/* ---------------------- *\
	Reset		
\* ---------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}	
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ---------------------- *\
	Common
\* ---------------------- */

BODY {
	background: #FFF;
	font: 16px/1 'Trebuchet Ms',sans-serif;
	}

H1 {
	font-size: 50px;
	}
H2 {
	font-size: 40px;
	}
.example {
	font-size: 30px;
	}		
P {
	margin: 20px 0;
	}
.desc B {
	padding: 0 3px;
	background: palegoldenrod;
	}
/* ---------------------- *\
	Layout
\* ---------------------- */
.wrapper {
	width: 840px;
	margin: 50px auto;
	}
.header {
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #DDD;
	}
.desc {
	margin: 20px 0 ;
	}

/* ---------------------- *\
	List
\* ---------------------- */
UL {
	width: 840px;
	margin: 20px auto;
	border: 1px solid #DDD;
	font-size: 35px;
	line-height: 1;
	}
	UL:after {
		content: "";
		display: table;
		width: 100%;
		clear: both;
		}
	LI {
		display: block;
		position: relative;
		float: left;
		width: 80px;
		height: 80px;
		margin: 2px;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		border: 1px solid #DDD;
		}
		LI SPAN {
			display: inline-block;
			position: absolute;
			left: 3px;
			bottom: 5px;
			width: 100%;
			text-align: center;
			}
		LI I {
			position: absolute;
			z-index: 10;
			top: 0;
			right: 0;
			padding: 2px;
			background: #DDD;
			font-size: 12px;			
			color: #555;
			}