/* ---------------------- *\
	Reset		
\* ---------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}	
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------------------- *\
	Common
\* ---------------------- */

BODY {
	background: #FFF;
	font: 16px/1.4 'Trebuchet Ms',sans-serif;
	}

H1 {
	font-size: 50px;
	}
H2 {
	font-size: 40px;
	}
H3 {
	font-size: 35px;
	}
H4 {
	font-size: 25px;
	}		
.example {
	font-size: 30px;
	}		
P {
	margin: 20px 0;
	}
	P:first-child {
		margin-top: 0;
		}
.desc B {
	padding: 0 3px;
	background: palegoldenrod;
	}
/* ---------------------- *\
	Layout
\* ---------------------- */
.wrapper {
	width: 1200px;
	margin: 50px auto;
	}
.header {
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #DDD;
	}
.section {
	}	
.main {
	width: 840px;
	float: left;
	}
	.aside {
		width: 310px;
		float: right;
		}
.desc {
	margin-bottom: 30px;
	}
.header--symbols {
	border-top: 1px solid #DDD;
	padding-top: 30px;
	}
.wrapper--range-select {
	float: right;
	line-height: 50px;
	}
.title--symbols {
	float: left;
	max-width: 570px;
	}	
.section:after,
.header--symbols:after,
.list--entities:after {
	content: "";
	display: table;
	width: 100%;
	clear: both;
	}	
/* ---------------------- *\
	Entities List
\* ---------------------- */

.list--entities {
	width: 840px;
	margin: 30px 0;
	border: 1px solid #DDD;
	font-size: 32px;
	line-height: 1;
	}
	.list--entities LI {
		display: block;
		position: relative;
		float: left;
		width: 80px;
		height: 90px;
		margin: 2px;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		border: 1px solid #DDD;
		}
		.full {
			width: 100%;
			}
		.list--entities LI SPAN {
			display: inline-block;
			position: absolute;
			left: 3px;
			bottom: 5px;
			width: 100%;
			text-align: center;
			}
		.list--entities LI CODE {
			position: absolute;
			z-index: 10;
			top: 2px;
			right: 2px;
			font-size: 12px;			
			color: #555;
			}
		.num,
		.hex {
			padding: 2px;
			}		
			LI .num,
			LI .hex {
				display: block;
				margin: 0 0 2px 0;
				}
			.num {
				background: hsl(100, 59%, 80%);
				}
			.hex {
				background: powderblue;
				}
/* ---------------------- *\
	Ranges List
\* ---------------------- */	
.aside H4 {
	margin-bottom: 10px;
	}
.list--blocks {
	margin: 10px 0 30px;
	}
	.list--blocks LI {
		margin-bottom: 3px;
		}	
	.list--blocks SPAN {
		border-bottom: 1px dashed steelblue;
		cursor: pointer;
		font-size: 14px;
		
		color: steelblue;
		}
		.current SPAN {
			border-bottom: 0;
			color: #000;
			}
			.current SPAN:before {
				content: "\2192";
				margin-right: 5px;
				color: #AAA;
				}				