<select class="content__select">
    <option value="Моя подборка">Полезные символы</option>

    <optgroup label="European Scripts">
        <option value="0530..058F">Armenian</option>
        <option value="FB13..FB17">&bullet; Armenian Ligatures</option>
        <option value="102A0..102DF">Carian</option>
        <option value="10530..1056F">Caucasian Albanian</option>
        <option value="10800..1083F">Cypriot Syllabary</option>
        <option value="0400..04FF">Cyrillic</option>
        <option value="0500..052F">&bullet; Cyrillic Supplement</option>
        <option value="2DE0..2DFF">&bullet; Cyrillic Extended-A</option>
        <option value="A640..A69F">&bullet; Cyrillic Extended-B</option>
        <option value="1C80..1C8F">&bullet; Cyrillic Extended-C</option>
        <option value="10500..1052F">Elbasan</option>
        <option value="10A0..10FF">Georgian</option>
        <option value="1C90..1CBF">&bullet; Georgian Extended</option>
        <option value="2D00..2D2F">&bullet; Georgian Supplement</option>
        <option value="2C00..2C5F">Glagolitic</option>
        <option value="1E000..1E02F">&bullet; Glagolitic Supplement</option>
        <option value="10330..1034F">Gothic</option>
        <option value="0370..03FF">Greek</option>
        <option value="1F00..1FFF">&bullet; Greek Extended</option>
        <option value="10140..1018F">&bullet; Ancient Greek Numbers</option>
        <option value="0000..007F">Latin</option>
        <option value="0000..007F">&bullet; Basic Latin (ASCII)</option>
        <option value="0080..00FF">&bullet; Latin-1 Supplement</option>
        <option value="0100..017F">&bullet; Latin Extended-A</option>
        <option value="0180..024F">&bullet; Latin Extended-B</option>
        <option value="2C60..2C7F">&bullet; Latin Extended-C</option>
        <option value="A720..A7FF">&bullet; Latin Extended-D</option>
        <option value="AB30..AB6F">&bullet; Latin Extended-E</option>
        <option value="1E00..1EFF">&bullet; Latin Extended Additional</option>
        <option value="FB00..FB06">&bullet; Latin Ligatures</option>
        <option value="FF00..FF5E">&bullet; Fullwidth Latin Letters</option>
        <option value="0250..02AF">&bullet; IPA Extensions</option>
        <option value="1D00..1D7F">&bullet; Phonetic Extensions</option>
        <option value="1D80..1DBF">&bullet; Phonetic Extensions Supplement</option>
        <option value="10600..1077F">Linear A</option>
    </optgroup>
    <optgroup label="Linear B">
        <option value="10000..1007F">&bullet; Linear B Syllabary</option>
        <option value="10080..100FF">&bullet; Linear B Ideograms</option>
        <option value="10100..1013F">&bullet; Aegean Numbers</option>
        <option value="10280..1029F">Lycian</option>
        <option value="10920..1093F">Lydian</option>
        <option value="1680..169F">Ogham</option>
        <option value="10C80..10CFF">Old Hungarian</option>
        <option value="10300..1032F">Old Italic</option>
        <option value="10350..1037F">Old Permic</option>
        <option value="101D0..101FF">Phaistos Disc</option>
        <option value="16A0..16FF">Runic</option>
        <option value="10450..1047F">Shavian</option>
    </optgroup>
    <optgroup label="Modifier Letters">
        <option value="A700..A71F">Modifier Tone Letters</option>
        <option value="02B0..02FF">Spacing Modifier Letters</option>
        <option value="2070..209F">Superscripts and Subscripts</option>
    </optgroup>
    <optgroup label="Combining Marks">
        <option value="0300..036F">Combining Diacritical Marks</option>
        <option value="1AB0..1AFF">&bullet; Combining Diacritical Marks Extended</option>
        <option value="1DC0..1DFF">&bullet; Combining Diacritical Marks Supplement</option>
        <option value="20D0..20FF">Combining Diacritical Marks for Symbols</option>
        <option value="FE20..FE2F">Combining Half Marks</option>
    </optgroup>
    <optgroup label="African Scripts">
        <option value="1E900..1E95F">Adlam</option>
        <option value="A6A0..A6FF">Bamum</option>
        <option value="16800..16A3F">&bullet; Bamum Supplement</option>
        <option value="16AD0..16AFF">Bassa Vah</option>
        <option value="2C80..2CFF">Coptic</option>
        <option value="03E2..03EF">&bullet; Coptic in Greek block</option>
        <option value="102E0..102FF">&bullet; Coptic Epact Numbers</option>
        <option value="13000..1342F">Egyptian Hieroglyphs</option>
        <option value="13430..1343F">&bullet; Egyptian Hieroglyph Format Controls</option>
        <option value="1200..137F">Ethiopic</option>
        <option value="1380..139F">&bullet; Ethiopic Supplement</option>
        <option value="2D80..2DDF">&bullet; Ethiopic Extended</option>
        <option value="AB00..AB2F">&bullet; Ethiopic Extended-A</option>
        <option value="16E40..16E9F">Medefaidrin</option>
        <option value="1E800..1E8DF">Mende Kikakui</option>
    </optgroup>
    <optgroup label="Meroitic">
        <option value="109A0..109FF">&bullet; Meroitic Cursive</option>
        <option value="10980..1099F">&bullet; Meroitic Hieroglyphs</option>
        <option value="07C0..07FF">N'Ko</option>
        <option value="10480..104AF">Osmanya</option>
        <option value="2D30..2D7F">Tifinagh</option>
        <option value="A500..A63F">Vai</option>
    </optgroup>
    <optgroup label="Middle Eastern Scripts">
        <option value="14400..1467F">Anatolian Hieroglyphs</option>
        <option value="0600..06FF">Arabic</option>
        <option value="0750..077F">&bullet; Arabic Supplement</option>
        <option value="08A0..08FF">&bullet; Arabic Extended-A</option>
        <option value="FB50..FDFF">&bullet; Arabic Presentation Forms-A</option>
        <option value="FE70..FEFF">&bullet; Arabic Presentation Forms-B</option>
        <option value="10840..1085F">Aramaic, Imperial</option>
        <option value="10B00..10B3F">Avestan</option>
        <option value="10FB0–10FDF">Chorasmian</option>
        <option value="12000..123FF">Cuneiform</option>
        <option value="12400..1247F">&bullet; Cuneiform Numbers and Punctuation</option>
        <option value="12480..1254F">&bullet; Early Dynastic Cuneiform</option>
        <option value="103A0..103DF">&bullet; Old Persian</option>
        <option value="10380..1039F">&bullet; Ugaritic</option>
        <option value="10FE0..10FFF">Elymaic</option>
        <option value="108E0..108FF">Hatran</option>
        <option value="0590..05FF">Hebrew</option>
        <option value="FB1D..FB4F">&bullet; Hebrew Presentation Forms</option>
        <option value="0840..085F">Mandaic</option>
        <option value="10880..108AF">Nabataean</option>
        <option value="10A80..10A9F">Old North Arabian</option>
        <option value="10A60..10A7F">Old South Arabian</option>
        <option value="10B60..10B7F">Pahlavi, Inscriptional</option>
        <option value="10B80..10BAF">Pahlavi, Psalter</option>
        <option value="10860..1087F">Palmyrene</option>
        <option value="10B40..10B5F">Parthian, Inscriptional</option>
        <option value="10900..1091F">Phoenician</option>
        <option value="0800..083F">Samaritan</option>
        <option value="0700..074F">Syriac</option>
        <option value="0860–086F">&bullet; Syriac Supplement</option>
        <option value="10E80–10EBF">Yezidi</option>
    </optgroup>
    <optgroup label="Central Asian Scripts">
        <option value="10AC0..10AFF">Manichaean</option>
        <option value="11C70..11CBF">Marchen</option>
        <option value="1800..18AF">Mongolian</option>
        <option value="11660..1167F">&bullet; Mongolian Supplement</option>
        <option value="10F00..10F2F">Old Sogdian</option>
        <option value="10C00..10C4F">Old Turkic</option>
        <option value="A840..A87F">Phags-Pa</option>
        <option value="10F30..10F6F">Sogdian</option>
        <option value="11A50–11AAF">Soyombo</option>
        <option value="0F00..0FFF">Tibetan</option>
        <option value="11A00–11A4F">Zanabazar Square</option>
    </optgroup>
    <optgroup label="South Asian Scripts">
        <option value="11700..1173F">Ahom</option>
        <option value="0980..09FF">Bengali and Assamese</option>
        <option value="11C00..11C6F">Bhaiksuki</option>
        <option value="11000..1107F">Brahmi</option>
        <option value="11100..1114F">Chakma</option>
        <option value="0900..097F">Devanagari</option>
        <option value="A8E0..A8FF">&bullet; Devanagari Extended</option>
        <option value="11900–1195F">Dives Akuru</option>
        <option value="11800..1184F">Dogra</option>
        <option value="11300..1137F">Grantha</option>
        <option value="0A80..0AFF">Gujarati</option>
        <option value="11D60..11DAF">Gunjala Gondi</option>
        <option value="0A00..0A7F">Gurmukhi</option>
        <option value="11080..110CF">Kaithi</option>
        <option value="0C80..0CFF">Kannada</option>
        <option value="10A00..10A5F">Kharoshthi</option>
        <option value="11200..1124F">Khojki</option>
        <option value="112B0..112FF">Khudawadi</option>
        <option value="1C00..1C4F">Lepcha</option>
        <option value="1900..194F">Limbu</option>
        <option value="11150..1117F">Mahajani</option>
        <option value="0D00..0D7F">Malayalam</option>
        <option value="11D00–11D5F">Masaram Gondi</option>
        <option value="ABC0..ABFF">Meetei Mayek</option>
        <option value="AAE0..AAFF">&bullet; Meetei Mayek Extensions</option>
        <option value="11600..1165F">Modi</option>
        <option value="16A40..16A6F">Mro</option>
        <option value="11280..112AF">Multani</option>
        <option value="119A0..119FF">Nandinagari</option>
        <option value="11400..1147F">Newa</option>
        <option value="1C50..1C7F">Ol Chiki</option>
        <option value="0B00..0B7F">Oriya (Odia)</option>
        <option value="A880..A8DF">Saurashtra</option>
        <option value="11180..111DF">Sharada</option>
        <option value="11580..115FF">Siddham</option>
        <option value="0D80..0DFF">Sinhala</option>
        <option value="111E0..111FF">&bullet; Sinhala Archaic Numbers</option>
        <option value="110D0..110FF">Sora Sompeng</option>
        <option value="A800..A82F">Syloti Nagri</option>
        <option value="11680..116CF">Takri</option>
        <option value="0B80..0BFF">Tamil</option>
        <option value="11FC0..11FFF">&bullet; Tamil Supplement</option>
        <option value="0C00..0C7F">Telugu</option>
        <option value="0780..07BF">Thaana</option>
        <option value="11480..114DF">Tirhuta</option>
        <option value="1CD0..1CFF">Vedic Extensions</option>
        <option value="1E2C0..1E2FF">Wancho</option>
        <option value="118A0..118FF">Warang Citi</option>
    </optgroup>
    <optgroup label="Southeast Asian Scripts">
        <option value="AA00..AA5F">Cham</option>
        <option value="10D00..10D3F">Hanifi Rohingya</option>
        <option value="A900..A92F">Kayah Li</option>
        <option value="1780..17FF">Khmer</option>
        <option value="19E0..19FF">&bullet; Khmer Symbols</option>
        <option value="0E80..0EFF">Lao</option>
        <option value="1000..109F">Myanmar</option>
        <option value="AA60..AA7F">&bullet; Myanmar Extended-A</option>
        <option value="A9E0..A9FF">&bullet; Myanmar Extended-B</option>
        <option value="1980..19DF">New Tai Lue</option>
        <option value="1E100..1E14F">Nyiakeng Puachue Hmong</option>
        <option value="16B00..16B8F">Pahawh Hmong</option>
        <option value="11AC0..11AFF">Pau Cin Hau</option>
        <option value="1950..197F">Tai Le</option>
        <option value="1A20..1AAF">Tai Tham</option>
        <option value="AA80..AADF">Tai Viet</option>
        <option value="0E00..0E7F">Thai</option>
    </optgroup>
    <optgroup label="Indonesia & Oceania Scripts">
        <option value="1B00..1B7F">Balinese</option>
        <option value="1BC0..1BFF">Batak</option>
        <option value="1A00..1A1F">Buginese</option>
        <option value="1740..175F">Buhid</option>
        <option value="1720..173F">Hanunoo</option>
        <option value="A980..A9DF">Javanese</option>
        <option value="11EE0..11EFF">Makasar</option>
        <option value="A930..A95F">Rejang</option>
        <option value="1B80..1BBF">Sundanese</option>
        <option value="1CC0..1CCF">&bullet; Sundanese Supplement</option>
        <option value="1700..171F">Tagalog</option>
        <option value="1760..177F">Tagbanwa</option>
    </optgroup>
    <optgroup label="East Asian Scripts">
        <option value="3100..312F">Bopomofo</option>
        <option value="31A0..31BF">&bullet; Bopomofo Extended</option>
        <option value="4E00..9FFF">CJK Unified Ideographs (Han)</option>
        <option value="3400..4DBF">&bullet; CJK Extension A</option>
        <option value="20000..2A6DF">&bullet; CJK Extension B</option>
        <option value="2A700..2B73F">&bullet; CJK Extension C</option>
        <option value="2B740..2B81F">&bullet; CJK Extension D</option>
        <option value="2B820..2CEAF">&bullet; CJK Extension E</option>
        <option value="2CEB0–2EBE0">&bullet; CJK Extension F</option>
        <option value="30000–3134A">&bullet; CJK Extension G</option>
        <option value="F900..FAFF">CJK Compatibility Ideographs</option>
        <option value="2F800..2FA1F">&bullet; CJK Compatibility Ideographs Supplement</option>
        <option value="2F00..2FDF">CJK Radicals / Kangxi Radicals</option>
        <option value="2E80..2EFF">&bullet; CJK Radicals Supplement</option>
        <option value="31C0..31EF">&bullet; CJK Strokes</option>
        <option value="2FF0..2FFF">&bullet; Ideographic Description Characters</option>
        <option value="1100..11FF">Hangul Jamo</option>
        <option value="A960..A97F">&bullet; Hangul Jamo Extended-A</option>
        <option value="D7B0..D7FF">&bullet; Hangul Jamo Extended-B</option>
        <option value="3130..318F">&bullet; Hangul Compatibility Jamo</option>
        <option value="FFA0..FFDC">&bullet; Halfwidth Jamo</option>
        <option value="AC00..D7AF">Hangul Syllables</option>
        <option value="3040..309F">Hiragana</option>
        <option value="1B100–1B12F">Kana Extended-A</option>
        <option value="1B000..1B0FF">Kana Supplement</option>
        <option value="1B130..1B16F">Small Kana Extension</option>
        <option value="3190..319F">Kanbun</option>
        <option value="30A0..30FF">Katakana</option>
        <option value="31F0..31FF">&bullet; Katakana Phonetic Extensions</option>
        <option value="FF65..FF9F">&bullet; Halfwidth Katakana</option>
        <option value="18B00–18CFF">Khitan Small Script</option>
        <option value="A4D0..A4FF">Lisu</option>
        <option value="11FB0–11FBF">&bullet; Lisu Supplement</option>
        <option value="16F00..16F9F">Miao</option>
        <option value="1B170–1B2FF">Nushu</option>
        <option value="17000..187FF">Tangut</option>
        <option value="18800..18AFF">&bullet; Tangut Components</option>
        <option value="18D00–18D08">&bullet; Tangut Supplement</option>
    </optgroup>
    <optgroup label="Yi">
        <option value="A000..A48F">&bullet; Yi Syllables</option>
        <option value="A490..A4CF">&bullet; Yi Radicals</option>
    </optgroup>
    <optgroup label="American Scripts">
        <option value="13A0..13FF">Cherokee</option>
        <option value="AB70..ABBF">&bullet; Cherokee Supplement</option>
        <option value="10400..1044F">Deseret</option>
        <option value="104B0..104FF">Osage</option>
        <option value="1400..167F">Unified Canadian Aboriginal Syllabics</option>
        <option value="18B0..18FF">&bullet; UCAS Extended</option>
    </optgroup>
    <optgroup label="Other">
        <option value="FB00..FB4F">&bullet; Alphabetic Presentation Forms</option>
        <option value="0000..007F">&bullet; ASCII Characters</option>
        <option value="FF00..FFEF">&bullet; Halfwidth and Fullwidth Forms</option>
    </optgroup>
    <optgroup label="Notational Systems">
        <option value="2800..28FF">Braille Patterns</option>
        <option value="1D100..1D1FF">Musical Symbols</option>
        <option value="1D200..1D24F">&bullet; Ancient Greek Musical Notation</option>
        <option value="1D000..1D0FF">&bullet; Byzantine Musical Symbols</option>
        <option value="1BC00..1BC9F">Duployan</option>
        <option value="1BCA0..1BCAF">&bullet; Shorthand Format Controls</option>
        <option value="1D800..1DAAF">Sutton SignWriting</option>
    </optgroup>
    <optgroup label="Punctuation">
        <option value="2000..206F">General Punctuation</option>
        <option value="0021..007F">&bullet; ASCII Punctuation</option>
        <option value="00A1..00BF">&bullet; Latin-1 Punctuation</option>
        <option value="2E00..2E7F">&bullet; Supplemental Punctuation</option>
        <option value="3000..303F">CJK Symbols and Punctuation</option>
        <option value="16FE0..16FFF">&bullet; Ideographic Symbols and Punctuation</option>
        <option value="FE30..FE4F">CJK Compatibility Forms</option>
        <option value="FF00..FFEF">&bullet; Halfwidth and Fullwidth Forms</option>
        <option value="FE50..FE6F">&bullet; Small Form Variants</option>
        <option value="FE10..FE1F">&bullet; Vertical Forms</option>
    </optgroup>
    <optgroup label="Alphanumeric Symbols">
        <option value="2100..214F">Letterlike Symbols</option>
        <option value="10190..101CF">&bullet; Roman Symbols</option>
        <option value="1D400..1D7FF">Mathematical Alphanumeric Symbols</option>
        <option value="1EE00..1EEFF">Arabic Mathematical Alphabetic Symbols</option>
        <option value="2460..24FF">Enclosed Alphanumerics</option>
        <option value="1F100..1F1FF">&bullet; Enclosed Alphanumeric Supplement</option>
        <option value="3200..32FF">Enclosed CJK Letters and Months</option>
        <option value="1F200..1F2FF">&bullet; Enclosed Ideographic Supplement</option>
        <option value="3300..33FF">CJK Compatibility</option>
        <option value="2100..214F">&bullet; Additional Squared Symbols</option>
    </optgroup>
    <optgroup label="Technical Symbols">
        <option value="2336..237A">&bullet; APL symbols</option>
        <option value="2400..243F">&bullet; Control Pictures</option>
        <option value="2300..23FF">&bullet; Miscellaneous Technical</option>
        <option value="2440..245F">&bullet; Optical Character Recognition (OCR)</option>
    </optgroup>
    <optgroup label="Numbers & Digits">
        <option value="0030..0039">ASCII Digits</option>
        <option value="FF10..FF19">&bullet; Fullwidth ASCII Digits</option>
        <option value="A830..A83F">Common Indic Number Forms</option>
        <option value="102E0..102FF">Coptic Epact Numbers</option>
        <option value="1D360..1D37F">Counting Rod Numerals</option>
        <option value="12400..1247F">Cuneiform Numbers and Punctuation</option>
        <option value="1EC70..1ECBF">Indic Siyaq Numbers</option>
        <option value="1D2E0..1D2FF">Mayan Numerals</option>
        <option value="2150..218F">Number Forms</option>
        <option value="1ED00..1ED4F">Ottoman Siyaq Numbers</option>
        <option value="10E60..10E7F">Rumi Numeral Symbols</option>
        <option value="111E0..111FF">Sinhala Archaic Numbers</option>
        <option value="2070..209F">Super and Subscripts</option>
    </optgroup>
    <optgroup label="Mathematical Symbols">
        <option value="2190..21FF">Arrows</option>
        <option value="27F0..27FF">&bullet; Supplemental Arrows-A</option>
        <option value="2900..297F">&bullet; Supplemental Arrows-B</option>
        <option value="1F800..1F8FF">&bullet; Supplemental Arrows-C</option>
        <option value="2B00..2BFF">&bullet; Additional Arrows</option>
        <option value="2B00..2BFF">&bullet; Miscellaneous Symbols and Arrows</option>
        <option value="1D400..1D7FF">Mathematical Alphanumeric Symbols</option>
        <option value="1EE00..1EEFF">&bullet; Arabic Mathematical Alphabetic Symbols</option>
        <option value="2100..214F">&bullet; Letterlike Symbols</option>
        <option value="2200..22FF">Mathematical Operators</option>
        <option value="2A00..2AFF">&bullet; Supplemental Mathematical Operators</option>
        <option value="27C0..27EF">&bullet; Miscellaneous Mathematical Symbols-A</option>
        <option value="2980..29FF">&bullet; Miscellaneous Mathematical Symbols-B</option>
        <option value="2308..230B">&bullet; Floors and Ceilings</option>
        <option value="2061..2064">&bullet; Invisible Operators</option>
        <option value="25A0..25FF">Geometric Shapes</option>
        <option value="2B00..2BFF">&bullet; Additional Shapes</option>
        <option value="2500..257F">&bullet; Box Drawing</option>
        <option value="2580..259F">&bullet; Block Elements</option>
        <option value="1F780..1F7FF">&bullet; Geometric Shapes Extended</option>
    </optgroup>
    <optgroup label="Emoji & Pictographs">
        <option value="2700..27BF">Dingbats</option>
        <option value="1F650..1F67F">&bullet; Ornamental Dingbats</option>
        <option value="1F600..1F64F">Emoticons</option>
        <option value="2600..26FF">Miscellaneous Symbols</option>
        <option value="1F300..1F5FF">Miscellaneous Symbols And Pictographs</option>
        <option value="1F900..1F9FF">Supplemental Symbols and Pictographs</option>
        <option value="1FA70..1FAFF">Symbols and Pictographs Extended-A</option>
        <option value="1F680..1F6FF">Transport and Map Symbols</option>
    </optgroup>
    <optgroup label="Other Symbols">
        <option value="1F700..1F77F">Alchemical Symbols</option>
        <option value="10190..101CF">Ancient Symbols</option>
        <option value="20A0..20CF">Currency Symbols</option>
        <option value="0024">&bullet; Dollar Sign</option>
        <option value="20AC">&bullet; Euro Sign</option>
        <option value="00A2..00A5">&bullet; Yen, Pound and Cent</option>
        <option value="FF04">&bullet; Fullwidth Currency Symbols</option>
        <option value="FB50">&bullet; Rial Sign</option>
    </optgroup>
    <optgroup label="Game Symbols">
        <option value="2654..265F, 26C0-26C3">&bullet; Chess, Checkers/Draughts</option>
        <option value="1FA00..1FA6F">&bullet; Chess Symbols</option>
        <option value="1F030..1F09F">&bullet; Domino Tiles</option>
        <option value="2616..2617">&bullet; Japanese Chess</option>
        <option value="1F000..1F02F">&bullet; Mahjong Tiles</option>
        <option value="1F0A0..1F0FF">&bullet; Playing Cards</option>
        <option value="2660..2667">&bullet; Card suits</option>
        <option value="2B00..2BFF">Miscellaneous Symbols and Arrows</option>
        <option value="1FB00–1FBFF">Symbols for Legacy Computing</option>
    </optgroup>
    <optgroup label="Yijing Symbols">
        <option value="268A..268F, 2630-2637">&bullet; Yijing Mono-, Di- and Trigrams</option>
        <option value="4DC0..4DFF">&bullet; Yijing Hexagram Symbols</option>
        <option value="1D300..1D35F">&bullet; Tai Xuan Jing Symbols</option>
    </optgroup>
    <optgroup label="Specials">
        <option value="0000..001F">&bullet; C0</option>
        <option value="0080..009F">&bullet; C1</option>
        <option value="2000..206F">&bullet; Layout Controls</option>
        <option value="2061..2064">&bullet; Invisible Operators</option>
        <option value="FFF0..FFFF">Specials</option>
        <option value="E0000..E007F">Tags</option>
        <option value="FE00..FE0F">Variation Selectors</option>
        <option value="E0100..E01EF">&bullet; Variation Selectors Supplement</option>
    </optgroup>
    <optgroup label="Private Use">
        <option value="E000..F8FF">Private Use Area</option>
        <option value="F0000..FFFFD">Supplementary Private Use Area-A</option>
        <option value="100000..10FFFD">Supplementary Private Use Area-B</option>
    </optgroup>
    <optgroup label="Surrogates">
        <option value="D800..DBFF">High Surrogates</option>
        <option value="DC00..DFFF">Low Surrogates</option>
    </optgroup>
    <optgroup label="Noncharacters in Charts">
        <option value="FDD0..FDEF">&bullet; Range in Arabic Presentation Forms-A</option>
        <option value="FFFE..FFFF ">&bullet; Range in Specials</option>
    </optgroup>
</select>
